/*Les polices*/
/*Récupérer cette propriété sur Google fonts : https://fonts.google.com/*/
h1, h2, h3, h4, h5, h6, i { 
  font-family: 'Passion One', cursive;
  font-size: xx-large;
}
p { 
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: larger;
 }

/*La couleur dominante*/
.circle, .navbar, .frame { border-color: #064420; }
h1, h2, h3, h4, h5, h6, i, .item { color: #064420; }

/*Le fond de couleur*/
/*Récupérer ces propriétés sur Ui Gradients: https://uigradients.com*/
.bg-color {
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #c1dfc4, #deecdd);
}
